<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

    
	<servlet>
		<servlet-name>xmppreceiver</servlet-name>
		<servlet-class>edu.morgan.pafafu.XmppReceiverServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>xmppreceiver</servlet-name>
		<url-pattern>/_ah/xmpp/message/chat/</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>Hello</servlet-name>
    	<servlet-class>edu.morgan.pafafu.Hello</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
    	<servlet-name>Hello</servlet-name>
    	<url-pattern>/Hello</url-pattern>
  	</servlet-mapping>
	
	<welcome-file-list>
    	<welcome-file>Hello</welcome-file>
  	</welcome-file-list>

	<!-- BEGIN HTTPS enabled -->
	<security-constraint>
		<web-resource-collection>
		<web-resource-name>profile</web-resource-name>
		<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
		<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
  	<!-- END HTTPS enabled -->
  	
</web-app>